link(rel='stylesheet', href='/stylesheets/deck.core.css')
link(rel='stylesheet', href='/stylesheets/sh_style.css')
link(rel='stylesheet', href='/stylesheets/themes/style/neon.css')
link(rel='stylesheet', href='/stylesheets/themes/transition/horizontal-slide.css')
link(rel='stylesheet', href='/javascripts/deck/extensions/goto/deck.goto.css');
link(rel='stylesheet', href='/javascripts/deck/extensions/navigation/deck.navigation.css');
link(rel='stylesheet', href='/javascripts/deck/extensions/status/deck.status.css');
link(rel='stylesheet', href='/javascripts/deck/extensions/hash/deck.hash.css');
script(type='text/javascript', src='/javascripts/modernizr.custom.js');
script(type='text/javascript', src='/javascripts/jquery-1.7.min.js');
script(type='text/javascript', src='/javascripts/deck/core/deck.core.js');
script(type='text/javascript', src='/javascripts/deck/extensions/goto/deck.goto.js');
script(type='text/javascript', src='/javascripts/deck/extensions/navigation/deck.navigation.js');
script(type='text/javascript', src='/javascripts/deck/extensions/status/deck.status.js');
script(type='text/javascript', src='/javascripts/deck/extensions/hash/deck.hash.js');
script(type='text/javascript', src='/javascripts/sh_main.js');
script(type='text/javascript', src='/javascripts/sh_sh.min.js');
script(type='text/javascript', src='/socket.io/socket.io.js');
script(type='text/javascript', src='/javascripts/init.js');

header
  nav
    p 現在接続している人は
      span#count
      人います

section(class="slide", id="title-slide")
  h1
    a(href="https://github.com/hirapong/learning-git") Learning Git

// 今日はこの辺の話をするよ
section(class="slide", id="introduction")
  h2 a table of contents
  ul
    li(class="slide")
      h3 What's VCS
    li(class="slide")
      h3 About Git
    li(class="slide")
      h3 Basic usage of Git
    li(class="slide")
      h3 Development with Git
    li(class="slide")
      h3 Try using Git
    li(class="slide")
      h3 How to use VCS in Mixi
    li(class="slide")
      h3 Introduction of some useful Tools

// バージョン管理システムとは
section(class="slide")
  h2 What's VCS
  h3 バージョン管理システム(Version Control System)
  li
    h3 仲間と差分を同期したり、定期的に作業をバックアップすることができる
  li
    h3 構成管理(configulation management)ができる
    h5 * メジャーアップデートを開発する一方で現行バージョンのバグ修正をしたり
    h5 * いつどの変更でバグが生じたか確認したり

// どれか使ったことある？
section(class="slide")
  h2 What's VCS
  h3 Have you ever use some VCS??
  img(src='/images/some_vcs.png')

// VCSは3種類に大別できます
section(class="slide")
  h2 What's VCS
  table
    thead
      tr
        th type
        th about
        th package
    tbody
      tr
        td 個別VCS
        td ファイル単位で個別システムで
           \バージョン管理
        td SCCR,RCS
      tr
        td 集中型VCS
        td リポジトリをサーバで一元管理し、操作はクライアントから
        td Subversion, CVS, Perforce
      tr
        td 分散型VCS
        td リポジトリをクライアントでも管理する
        td 
          strong Git
          , Mercurial, Bazaar

// 特にGitはほにゃらら
section(class="slide")
  h2 About Git
  li
    h3 Git Doesn't have DIFF but FILE itself
  li
    h3 Any Client have Repositries
  img(src='/images/github-logo.png')


// Gitと他のVCSを比較した資料を見てみよう
section(class="slide")
  h2 Git vs Subversion
  iframe(src="http://whygitisbetterthanx.com/")Why Git is Better than X

// まずは基本的開発フローを説明するよ（一人で使う場合）
section(class="slide")
  h2 WorkFlow
  article#workflow
    // canvas test

// aaa

// 実際にコマンドを叩いて説明するよ
section(class="slide")
  h2 Try git command

  form(id="git_form", action="/javascripts/init.js", method="post")
    textarea(id="git_command", class="git_sh", cols="110", rows="10")

  br
  pre(id="git_result", class="sh_sh sh_sourceCode")


section(class="slide")
  h2 金言
  blockquote(cite="http://example.com")
    p 1年でできない奴はやめろ会社.
    p
      cite Kazuyoshi kato.


p(class="deck-status")
    span(class="deck-status-current")
    /
    span(class="deck-status-total")
    span(class="deck-status-viewer")(0)


